<div class="col-md-4">
  <div class="card">
    <div class="card-block">
      <img class="card-img-top" src="<%= menu.img_url %>" />
      <h3 class="card-title"><%= menu.name %></h3>
      <p class="card-text"><%= menu.descriptions %></p>
    </div>
    <div class="card-block order-bar">
      <a href="#" class="btn text-success price"><%= number_to_currency menu.price, unit: 'VND', format: '%n %u' %></a>
      <%= link_to "Order", {controller: "orders", action: "new", menu_item: menu_item.id}, class: "btn btn-primary-outline pull-right" if options[:show_order] %>
    </div>
  </div>
</div>