<div class="container content-container">
    <h1>Thank you! This is your order details:</h1>

    <%= form_for @order do |f| %>
        <fieldset class="form-group">
            <p class="form-control-static"><%= "Order No.: #{@order.id}" %></p>
        </fieldset>

        <fieldset class="form-group">
            <p class="form-control-static"><%= "Submit date: #{@order.created_at.strftime("%b %d, %Y")}" %></p>
        </fieldset>

        <fieldset class="form-group">
            <%= f.label :name %>
            <p class="form-control-static text-success"><%= @order.customer_name %></p>
        </fieldset>

        <fieldset class="form-group">
            <%= f.label :phone_number %>
            <p class="form-control-static text-success"><%= @order.phone_number %></p>
        </fieldset>

        <fieldset class="form-group">
            <%= f.label :address %>
            <p class="form-control-static text-success"><%= @order.address %></p>
        </fieldset>

        <fieldset class="form-group">
            <%= f.label :total_cost %>
            <p class="form-control-static text-danger"><%= number_to_currency @order.total_cost, unit: 'VND', format: '%n %u' %></p>
            <small class="text-muted">This price has included <%= number_to_currency @order.delivery_cost, unit: 'VND', format: '%n %u' %> delivery cost</small>
        </fieldset>
    <% end %>
</div>